:r UseDb.sql
CREATE TABLE dbo.EstadosCursoXXX
	(
	EstadoCursoID nvarchar(25) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.EstadosCursoXXX ADD CONSTRAINT
	PK_EstadosCursoXXX PRIMARY KEY CLUSTERED 
	(
	EstadoCursoID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
