/*
   lunes, 5 de junio de 2017 20:56:42
   Base de datos: escuelapsdelsur
   Aplicación: EPSS
*/

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Carreras
	(
	CarreraID int NOT NULL,
	Descripcion varchar(255) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Carreras ADD CONSTRAINT
	PK_Carreras PRIMARY KEY CLUSTERED 
	(
	CarreraID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Carreras SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.interesados ADD CONSTRAINT
	FK_interesados_Carreras FOREIGN KEY
	(
	CarreraID
	) REFERENCES dbo.Carreras
	(
	CarreraID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.interesados SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
